{{> nav/nav-block}}

<div class="columns is-mobile">

  <div class="jumbotron column">
    <h1 class="is-size-1">Welcome to Happy Trees</h1>
    <h2 class="is-size-4">A helpful resource in viewing data collected on trees planted by Jordan's company.</h2>
    <hr>

    <div>
      {{#if isloggedin}}
      You are logged in as {{user.firstName}}
      <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
      <p>You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>

  </div>

  <div class="container column">

    <div class="upload column">
      <h2 class="is-size-3">UPLOAD TREE DATA:</h2>
      <label for="tree-data" class="data-types">
        Plot ID <input type="text" class="input">
        Scientific Name<input type="text" class="input">
        Height<input type="text" class="input">
        <button type="submit" class="button is-success is-normal">Submit
        </button>
      </label>
    </div>
      <div>
        <h1>upload csv file to MySQL database</h1>
      <form action="/uploadfile" enctype="multipart/form-data" method="post">
        <input type="file" name="uploadfile" accept='csv' >
        <input type="submit" value="Upload CSV">
      </form>  
      </div>

    <div class="view column is-full">
      <h2 class="is-size-4">VIEW TREE DATA BY:</h2>
      *dropdown menu created with js goes here*
    </div>

  </div>

</div>

{{> modal/login-block}}