{{!-- {{> nav/nav-block user=false register=true}} --}}
<div class="register has-text-black">

  <header align="center">
    <h1 class="is-size-1 has-text-weight-bold">Create Your Account</h1>
    <h3 id="create-err-msg"></h3>
  </header>

  <h3 id="err-msg"></h3>

  <div class="form-group">
    <label for="inputFirst" class="is-size-3">First Name</label>
    <input type="text" class="form-control is-size-5" id="inputFirst" placeholder="John">
  </div>

  <div class="form-group">
    <label for="inputLast" class="is-size-3">Last Name</label>
    <input type="text" class="form-control is-size-5" id="inputLast" placeholder="Doe">
  </div>

  <div class="form-group">
    <label for="inputEmail" class="is-size-3">Email</label>
    <input type="email" class="form-control is-size-5" id="inputEmail" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="inputPassword" class="is-size-3">Password</label>
    <input type="password" class="form-control is-size-5" id="inputPassword" placeholder="Password">
  </div>

  <div>
    <h2 id="message"></h2>
  </div>

  <div>
    <button type="submit" id="add-user" class="button is-black is-size-5">
      Submit
    </button>
  </div>

  <div>
    <a class="link has-text-white is-size-4 is-underlined" href="/">Back to Happy Trees</a>
  </div>

</div>