{{!-- uncommenting the below nav/nav-block line will exceed maximum call stack --}}
{{!-- {{> nav/nav-block user=true login=true}} --}}
<div>
  <header align="center">
    <h1 class="has-text-black is-size-4 has-text-weight-bold ">Login or 
      <a class="link has-text-white is-underlined is-size-4" href= "/register"
        data-register={{register}}>Register</a></h1>
    <h3 id="create-err-msg"></h3> {{!-- do we need both of these err msg? --}}
  </header>

  <h3 id="err-msg"></h3> {{!-- do we need both of these err msg? --}}

  <div class="login-input">
    <div class="form-group">

      <div>
        <label for="inputEmail" class="is-size-5 has-text-black">Email</label>
        <input type="email" class="form-control is-size-6" id="email" placeholder="Email">
      </div>

      <div>
        <label for="inputPassword" class="is-size-5 has-text-black">Password</label>
        <input type="password" class="form-control is-size-6" id="user_password" placeholder="Password">
      </div>

      <div>
        <h2 id="message"></h2>
      </div>

      <div>
        <button id="login" type="button" class="button is-black has-text-white is-size-6 has-text-weight-bold ">Login</button>
      </div>
      
    </div>
  </div>