{{!-- uncommenting the below nav/nav-block line will create a second nav-block on the page --}}
{{!-- {{> nav/nav-block user=true login=true}} --}}
<div>
  <header align="center">
    <h1 class="has-text-black is-size-2">Login To Your Account or <a class="link has-text-black is-underlined is-size-2"
        href="/register" data-register={{register}}>Register</a></h1>
    <h3 id="create-err-msg"></h3>
  </header>
  {{!-- do we need both of these err msg on line 6 & 9? --}}
  <h3 id="err-msg"></h3>

  {{!-- <div class="login-input"> --}}

    <div class="form-group">
      <label for="inputEmail" class="is-size-3">Email</label>
      <input type="email" class="form-control is-size-5" id="inputEmail" placeholder="Email">
    {{!-- </div> --}}

    {{!-- <div class="form-group"> --}}
      <label for="inputPassword" class="is-size-3">Password</label>
      <input type="password" class="form-control is-size-5" id="inputPassword" placeholder="Password">
    {{!-- </div> --}}

    <div>
      <h2 id="message"></h2>
    </div>
    {{!-- <div> --}}
      <button id="login" type="button" class="button is-black has-text-white is-size-5">Login</button>
    </div>

  {{!-- </div> --}}

</div>