body {
  background-image: url("../images/trees.jpeg");
  color: white;
  background-size: cover;
  height:100%;
  font-family:cursive;

}

nav {
  background-color: slategray;
  border-style: ridge;
  border-width: 5px;
  border-color: black;
  text-align: right;
}


.right-align {
  margin: 10px;
  align-items: center;
}

header{
  margin: auto;
  background-color: slategray;
  color:darkgreen;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  width: 600px;
  height:100%;
  margin-top: 20px;
  text-align: center;
}

.container {
  text-align: center;
}

.upload, .view {
  background-color: slategray;
  color:darkgreen;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  margin: 20px;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.data-types {
  color: black;
  font-size: 20px;
}

.input {
  border-style: ridge;
  border-color: black;
  margin: 3px;
  text-align: center;
  color: darkgreen;
}

.submit {
  border-style: ridge;
  border-color: black;
}