@import 'bulma_npm.css';

html {
  background-image: url("../images/trees.jpeg");
  background-size: cover;
  height: 100vh;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  margin: 10px;
}

.welcome {
  text-align: center;
}

.appname {
  /* border-style: ridge;
  border-color: black;
  border-width: 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background:green;
  /* The below line has an error, but it is neccessary for the font-oultine effect. I'll look into fixes */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: right;
  align-items: center;
  border-style: ridge;
  border-width: 5px;
  border-color: black;
  background-color: white;
  padding: 10px;
}

.register {
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main {
  display:flex;
  flex-direction: row;
}

.tree-data {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.button {
  cursor: pointer;
}

.table {
  /* background-color: white; */
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  /* margin: 10px; */
  height: 40vh;
  width: 35vw;
  overflow: auto;
}

#treedata {
  color: black;
  font-weight: bold;
  /* padding: 10px; */
}

.map {
  text-align: center;
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  margin: 10px;
}

.map-text {
  margin: 10px;
}
#map {
  min-height: 40vh;
  min-width: 35vw;
  margin: 10px;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
}

footer {
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 100%;
}

/* this helps style the 'select file' button */
input[type="file"] {
  display: none;
}