@import 'bulma_npm.css';

html {
  background-image: url("../images/trees.jpeg");
  background-size: cover;
  height:100vh;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar {
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
justify-content: space-between;
background-color: slategray;
border-color: black;
border-style: ridge;
border-width: 5px;
padding: 10px;
margin: 10px;
}

.welcome {
  text-align: center;
}

.login {
text-align: right;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tree-data, .map, footer{
  background-color: slategray;
  color:white;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.list {
  text-align: left;
}

.button {
  cursor: pointer;
}

.register {
  background-color: slategray;
  border-color: black;
  border-style: ridge;
  border-width: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

#map {
  min-height: 35vh;
  min-width: 60vw;
}

/* i might need this to style a button */
  /* input[type="file"] {
    display: none;
} */