<nav class="navbar is-dark">
  <!-- Brand/logo -->
  {{!-- <a class="has-text-success-dark" href="/">
    Homepage
  </a> --}}

  <!-- Links -->
  <ul class="navlinks">

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    <a class="has-text-success-dark" href="/">
      Homepage
    </a>

    {{#if isloggedin}}
    {{!-- <li>
      <a href="/example">Example page</a>
    </li> --}}
    <li>
      <a class="has-text-success-dark" href="/profile">My Profile</a>
    </li>
    <li>
      <a class="has-text-success-dark" href="/logout">Logout</a>
    </li>

    {{else}}
    <li>
      
{{!-- i cant get the path for login to work here --}}
      <a class="has-text-success-dark" href="../modal/login-block.handlebars" data-login={{login}}>Login</a>
    </li>
    <li>
      <a class="has-text-success-dark" href="/register" data-register={{register}}>Register</a>
    </li>

    {{/if}}
  </ul>
</nav>

{{!-- {{>modal/login-block}} --}}