<nav class="navbar">

  <div class="navlinks">
      <h1 class="has-text-black is-size-1 has-text-weight-bold">Happy Trees</a>
      <h2 class="is-size-4">A helpful resource in viewing data collected on trees planted by mitigation companies.</h2>
    {{!-- {{#if isloggedin}}
    <li>
      <a class="link has-text-white is-size-3" href="/logout">Logout</a>
    </li> --}}

    {{!-- {{else}} --}}
    {{!-- <li>
      <a class="link has-text-white is-size-3" href="/login" data-login={{login-block}}>Login</a>
    </li> --}}
    {{!-- <li>
      <a class="link has-text-white is-size-3" href="/register" data-register={{register}}>Register</a>
    </li> --}}

    {{!-- {{/if}} --}}
  </div>
</nav>

{{!-- {{>modal/login-block}} --}}