<nav class="navbar">

  <ul class="navlinks">

    <a class="link has-text-black is-size-3" href="/">
      Homepage
    </a>

    {{#if isloggedin}}
    <li>
      <a class="link has-text-white is-size-3" href="/profile">My Profile</a>
    </li>
    <li>
      <a class="link has-text-white is-size-3" href="/logout">Logout</a>
    </li>

    {{else}}
    <li>

{{!-- i cant get the path for login to work here --}}
      <a class="link has-text-white is-size-3" href="/login" data-login={{login}}>Login</a>
    </li>
    <li>
      <a class="link has-text-white is-size-3" href="/register" data-register={{register}}>Register</a>
    </li>

    {{/if}}
  </ul>
</nav>

{{!-- {{>modal/login-block}} --}}