<nav class="navbar is-dark">
  <!-- Brand/logo -->
  <a class= "has-text-success-dark " href="/">
    Homepage
  </a>
  
  <!-- Links -->
  <ul>

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    {{#if isloggedin}}
      {{!-- <li>
        <a href="/example">Example page</a>
      </li> --}}
      <li>
        <a href="/profile">My Profile</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    {{else}}
      <li>
        <a class="has-text-success-dark" href="#" id="login-modal">Login</a>
      </li>
      <li>
        <a class="has-text-success-dark" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
